{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron banner"></div>
<div class="section">
    <h1>Welcome to FaceReg</h1>
    <h3>Smart system for loging and registering your users</h3>
    <p>Useing webcam on you laptop or computer your users can login or register to your website without need to type password and username</p>
    <p>Try by clicking button below</p>
    <div class="buttons">
        <a href="/login"><button class="btn btn-primary">Login</button></a>
        <a href="/register"><button class="btn btn-primary">Register</button></a>
    </div>
    {% endblock %}